.aboutContent{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    /*centers in x and y*/

    align-items: center;
    object-fit: contain;
}

.about-container {
    /*background: url('../../public/images/img-home.jpg') center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

   

    align-items: center;
    object-fit: contain;
}

.aboutPic{
    position: flex;

    //margin-top: calc(-1200px + 7vw );
    width: calc(150px + 15vw);
    height: calc(150px + 15vw);
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    
    background: url('../../../public/images/profpicgray.jpg') center center/cover no-repeat;
}

.cursive {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }

  h8{
    text-align: center;
    font-size: calc(12px + 0.4vw);
    font-weight: 999;
    font-family: 'Dancing Script', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Indie Flower', cursive;
}